<h3 *ngIf="shipsSelected" class="flex-container-center">Level: {{level}}</h3>
<canvas #canvas ></canvas>
<div class="score-bar">
  <div class="flex-container-left left">
    <p class="red" *ngIf="playerOne">P1 Score: {{playerOne.getScore()}}</p>
    <p class="red" *ngIf="playerOne">P1 Lives: {{playerOne.getLives()}}</p>
  </div>
  <div class="flex-container-left right">
    <p class="blue" *ngIf="playerTwo">P2 Score: {{playerTwo.getScore()}}</p>
    <p class="blue" *ngIf="playerTwo">P2 Lives: {{playerTwo.getLives()}}</p>
  </div>
</div>

<div class="modal" [ngStyle]="{'display': displayStartModal}">
    <div class="flex-container-center">
      <h2 class="main-title mb-20" *ngIf="shipsSelected">Ready?</h2>
      <p class="mb-10" *ngIf="!shipsSelected">Player 1: Select a Battleship</p>
      <div *ngIf="gameLoaded && !shipsSelected" class="row mb-20">
        <div class="preview-tile" *ngFor="let image of availableBattleships" (click)="selectPlayerOneShip(image)" [class.active]="image === playerOneSelectedBattleship">
          <div class="flex-container-center">
            <img src="{{image.src}}"/>
          </div>
        </div>

      </div>
      <p class="mb-10" *ngIf="multiplayer && !shipsSelected">Player 2: Select a Battleship</p>
      <div *ngIf="gameLoaded && multiplayer && !shipsSelected" class="row mb-20">
        <div class="preview-tile" *ngFor="let image of availableBattleships" (click)="selectPlayerTwoShip(image)" [class.active]="image === playerTwoSelectedBattleship">
          <div class="flex-container-center">
            <img src="{{image.src}}"/>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn-main-md" routerLink="/"><i class="fa fa-times"></i> Abort Mission</button>
        <button class="btn-main-md" *ngIf="!gameLoaded" disabled><i class="fa fa-spinner fa-pulse"></i> Loading...</button>
        <button class="btn-main-md" *ngIf="gameLoaded && !shipsSelected" (click)="setupGame(); confirmSelection();"><i class="fa fa-check"></i> Confirm</button>
        <button class="btn-main-md" *ngIf="gameLoaded && shipsSelected" (click)="hideStartModal(); gameLoop();"><i class="fa fa-rocket"></i> Launch</button>
      </div>

    </div>
</div>

<div class="modal" [ngStyle]="{'display': displayGameOverModal}">
    <div class="flex-container-center">
      <h2 class="main-title">Game Over</h2>
      <h3 *ngIf="playerOne" class="red mt-20">Player 1 Score: {{playerOne.getScore()}}</h3>
      <h3 *ngIf="playerTwo" class="blue mb-20">Player 2 Score: {{playerTwo.getScore()}}</h3>
      <input *ngIf="playerOne" class="custom-input mt-20" placeholder="Player 1 Name">
      <input *ngIf="playerTwo" class="custom-input mt-20 mb-20" placeholder="Player 2 Name">
      <!-- TODO: Submit scores to server -->
      <button class="btn btn-main-md mt-20" routerLink="/highscores">Submit</button>
    </div>
</div>

