canvas {
  background-color: rgba(0,0,0,0.65);
}

p {
  padding: 0;
  margin: 0;
  font-family: "American Captain";
  font-size: 14pt;
  color: #ffffff;
}

.red {
  color: #FF0000;
}

.blue {
  color: #0047B0;
}

.score-bar {
  padding: 0;
  margin: 0;
}

.preview-tile {
  background-color: rgba(255, 0, 0, 0.5);
  color: #ffffff;
  border: solid rgba(255, 0, 0, 0);
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 80px;
  height: 80px;
}

.preview-tile.active {
  background-color: rgba(41, 41, 41, 0.8);
  color: #ffffff;
  border: solid rgba(41, 41, 41, 0);
}

.preview-tile:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
