/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

@font-face {
  font-family: "American Captain";
  src: url('assets/fonts/american_captain-webfont.woff');
}

.main-title {
  background: -webkit-linear-gradient(#FF0000, rgba(221, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "American Captain";
  font-style: normal;
  margin-bottom: 75px;
}

h1.main-title {
  font-size: 88pt;
}

h2.main-title {
  font-size: 64pt;
  margin: 0;
}

h3 {
  font-family: "American Captain";
  font-size: 24pt;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.btn-main-lg {
  font-family: "American Captain";
  background-color: rgba(255, 0, 0, 0.5);
  color: #ffffff;
  border: solid rgba(255, 0, 0, 0);
  font-size: 28pt;
  padding-bottom: 0;
  padding-top: 0;
  margin: 10px 10px 10px 10px;
  width: 300px;
  min-height: 60px;
}

.btn-main-lg:hover {
  background-color: rgba(41, 41, 41, 0.8);
  color: #ffffff;
  border: solid rgba(41, 41, 41, 0);
}

.btn-main-lg:disabled {
  background-color: rgba(41, 41, 41, 0.8);
  color: #ffffff;
  border: solid rgba(41, 41, 41, 0);
}

.btn-main-md {
  font-family: "American Captain";
  background-color: rgba(255, 0, 0, 0.5);
  color: #ffffff;
  border: solid rgba(255, 0, 0, 0);
  font-size: 20pt;
  padding-bottom: 0;
  padding-top: 0;
  margin: 10px 10px 10px 10px;
  width: 200px;
}

.btn-main-md:hover {
  background-color: rgba(41, 41, 41, 0.8);
  color: #ffffff;
  border: solid rgba(41, 41, 41, 0);
}

.btn-main-md:disabled {
  background-color: rgba(41, 41, 41, 0.8);
  color: #ffffff;
  border: solid rgba(41, 41, 41, 0);
}

.earth-background {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('assets/images/earth.jpeg');
  background-size: cover;
}

.flex-container-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  box-shadow: 0 0 10px 0 #888888;;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input.custom-input {
  background: none;
  padding: 0;
  margin: 0;
  width: 300px;
  border: none;
  border-bottom: solid 1pt rgba(255, 0, 0, 0.5);
  color: #ffffff;
  font-family: "American Captain";
  font-size: 20pt;
}

input.custom-input:focus {
  outline: none;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.flex-container-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: left;
}

.left {
  float: left;
}

.right {
  float: right;
}
